<!DOCTYPE html>
<html>
<head>
  <title>Chartdemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "jquery"%>
  <%= csrf_meta_tags %>


</head>
<body>


<%= render 'nav_bar'%>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">

        <%= yield %>
    </div>
</div>
</body>
</html>
